* {
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    justify-content: space-around;
}

#logo {
    width: 145px;
    margin-top: 10px;
}

p {
    margin-top: 50px;
    letter-spacing: 2px;
    font-size: 15px;
    color: #bd3343;
}

#outer {
    width: 100%;
    border-top: 1px solid #d0ccd2;
    text-align: center;
}

.img {
    margin: 13px 0;
    height: 520px;
}


button {
    background-color: #b2b2b2;
    color: rgb(255, 255, 255);
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin: 0 20px;
    font-size: 13px;
    letter-spacing: 4px;
    font-weight: 400;
    line-height: 30px;
}

button:hover {
    background-color: #A83216;
    opacity: calc(.7);

}